h1, h2, h3, #rulePageText {
	z-index: 1;
	color: #ffffff;
	font-family: airborne;
	cursor: crosshair;
	src: url('airborne.ttf') format('truetype');
	text-shadow: 8px 7px 8px black;
}

h1 {
	font-size: 50pt;
	cursor: crosshair;
}

img {
	position:fixed;  
	width:100%; 
	height:100%;
	top: 0px;
	left: 0px;
	cursor: crosshair;
}

div {
    cursor: crosshair;
}

.content {
    z-index:1;
}

.fieldLabel{
    color: #ffffff;
    font-size: 1.2em;
    height: 100%;
}

#backgroundPicRulePage {
	filter: brightness(30%);
	background: url(/assets/battleship.png);
}

#backgroundPicIndex {
	background: url(/assets/battleship.png);
	overflow: hidden;
}

#menuRightGlyph {
	top: 4px;
	left: 5px;
}

#navBar {
	z-index: 1;
	color: #ffffff;
	font-family: airborne;
	cursor: crosshair;
	src: url('airborne.ttf') format('truetype');
	text-shadow: 8px 7px 8px black;
}

#menuBar {
	cursor: crosshair;
}

#indexButtonStartNewGame {
	font-family: airborne;
	cursor: crosshair;
	src: url('airborne.ttf') format('truetype');
	top: 140px;

}

#tuiOutput {
    z-index:5;
}

#commandLine {
    z-index:5;
    color:#ffffff;
    font-size:1.4em;
    border: 3px solid white;
}

#topLabel {
    display: inline;
}

#signInButton {
    top: 100px;
}

#loginHeader {
    top: 50px;
}
