
h1, h2, h3, #rulePageText1, #rulePageText2 {
	position: absolute;
	z-index: 1;
	color: #ffffff;
	font-family: airborne;
	cursor: crosshair;
	src: url('airborne.ttf') format('truetype');
	text-shadow: 8px 7px 8px black;
}

h1 {
	padding-left: 400px;
	font-size: 90px;
	padding-top: 100px;
}

h2 {
	padding-top: 10px;
	padding-left: 60px;
}

#objective {
	padding-top: 100px;
	padding-left: 60px;
}

#startingNewGame {
	padding-top: 100px;
	padding-left: 700px;
	text-align: justify;
}

#rulePageText1 {
	padding-left: 60px;
	padding-top: 180px;
	text-align: justify;
	width: 500px;
}

img {
	position:fixed;  
	width:100%; 
	height:100%;
	top: 0px;
	left: 0px;
	cursor: crosshair;}

#rulePageText2 {
	padding-top: 180px;
	padding-left: 700px;
	text-align: justify;
	width: 1150px;
	position: absolute;
}

#backgroundPicRulePage {
	filter: brightness(30%);
	background: url(/assets/battleship.png);
}

#backgroundPicIndex {
	background: url(/assets/battleship.png);
}

#menuRightGlyph {
	top: 4px;
	left: 5px;
}

#navBarRulePage {
	z-index: 1;
	cursor: crosshair;
}

#menuBar {
	cursor: crosshair;
}