@(controller: de.htwg.battleship.controller.IMasterController, tuiOutput: String)

@main("Battleship") {

    <script language="JavaScript"> 
        function setCords(row, col) {
            
            var startCharacter = "a";
            
            row = String.fromCharCode(startCharacter.charCodeAt(0) + row);
            
    	    document.getElementById("horizontal").onclick = function() {
    	        location.href = "/battleship/" + row + " " + col + " horizontal";
    	    }
    	    
    	    document.getElementById("vertical").onclick = function() {
    	        location.href = "/battleship/" + row + " " + col + " vertical";
    	    }
       	}
    </script>
        
    @for(rowCount <- 0 until 9) {
        <div class="row">
            <div class="col-md-3 text-center"></div>
            <div class="col-md-6 text-center">
                <div class="btn-group">
                    @for(colCount <- 0 until 9) {
                            <button type="button" class="btn btn-default" onClick="setCords(@rowCount, @colCount)">
                                    @rowCount @colCount
                            </button>
                    }
                </div>
            </div>
            <div class="col-md-3 text-center">
                @if(rowCount == 0) {
                    <button type="button" class="btn btn-default" id="horizontal">
                        horizontal
                    </button>

                    <button type="button" class="btn btn-default" id="vertical">
                        vertical
                    </button>
                }
            </div>
        </div>
    }
    
    <div class="row">
        <div class="form-group">
            <label for="tuiOutput">TUI Output:</label>
              <textarea class="form-control" rows="10" id="tuiOutput">@tuiOutput</textarea>
        </div>
    </div>
}