@(controller: de.htwg.battleship.controller.IMasterController, tuiOutput: String)

@import _root_.de.htwg.battleship.util.State;

@main("Battleship") {

@****************************************** SCRIPTS ***********************************************@

    <script language="JavaScript"> 
    
        function setCords(col, row) {
            
            row = String.fromCharCode("a".charCodeAt(0) + row);

            
    	    document.getElementById("horizontal").onclick = function() {
    	        location.href = "/battleship/" + row + " " + col + " horizontal";
    	    }
    	    
    	    document.getElementById("vertical").onclick = function() {
    	        location.href = "/battleship/" + row + " " + col + " vertical";
    	    }
       	}
       	
       	function shoot(col, row) {
       	    row = String.fromCharCode("a".charCodeAt(0) + row);gu
       	    
            location.href = "/battleship/" + row + " " + col;
       	}

        function getPlayerName() {
       	    var playername = prompt("Please enter your name", "");
       	    
       	    if (null != playername) {
       	        location.href = "/battleship/" + playername;
       	    }
       	}
      
    </script>
   
@********************************************* INFO ****************************************************@
   
    <div class="row">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4">
            <div class="alert alert-info alert-dismissable text-center">
                @{controller.getCurrentState() match {
                    case State.PLACE1 =>
                        controller.getPlayer1().getName() + " now place the ship with the length of " + (controller.getPlayer1().getOwnBoard().getShips() + 2);
                        
                    case State.PLACE2 =>
                        controller.getPlayer2().getName() + " now place the ship with the length of " + (controller.getPlayer2().getOwnBoard().getShips() + 2);
                    
                    case State.SHOOT1 =>
                        controller.getPlayer1().getName() + " is now at the turn to shoot";
                        
                    case State.SHOOT2 =>
                        controller.getPlayer2().getName() + " is now at the turn to shoot";
                        
                    case _ =>
                        "Spielstatus konnte nicht abgerufen werden";
                }
                }
            </div>
        </div>
        <div class="col-md-4 text-center"></div>
    </div>
      
@******************************************** GAMEFIELD ************************************************@

    <div class="gamefield">
    
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" text-center>
                <div class="fieldLabel">
                    @for(colCount <- 1 until 11) {
                        <div id="topLabel">@colCount</div>       
                    }
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
        @for(rowCount <- 0 until 10) {
            <div class="row">
                <div class="col-md-3 text-right">
                    <p class="fieldLabel">
                        @{((65 + rowCount).toChar).toString()}
                    </p>
                </div>
                
                <div class="col-md-6 text-center">
                    <div class="btn-group">
                        @for(colCount <- 0 until 10) {
                                <button type="button" class="btn btn-default btn-md" onClick="@if(controller.getCurrentState() == State.SHOOT1 || controller.getCurrentState() == State.SHOOT2) {shoot(@rowCount, @colCount)} else {setCords(@rowCount, @colCount)}">
                                        @rowCount.toString().toUpperCase() @colCount
                                </button>
                        }
                    </div>
                </div>
                
                <div class="col-md-3 text-center">
                    @if(rowCount == 0 && (controller.getCurrentState == State.PLACE1 || controller.getCurrentState == State.PLACE2)) {
                        <button type="button" class="btn btn-default" id="horizontal">
                            horizontal
                        </button>
    
                        <button type="button" class="btn btn-default" id="vertical">
                            vertical
                        </button>
                    }
                </div>
            </div>
        }
    </div>
    
@*************************************** ALERTS *********************************************@

    @if(controller.getCurrentState() == State.START) {
        @controller.setCurrentState(State.GETNAME1)
        <script> 
            while (!document.readyState === "complete");
            getPlayerName();
        </script> 
    }
    
    @if(controller.getCurrentState() == State.GETNAME2) {
         <script> 
            while (!document.readyState === "complete");
            getPlayerName();
        </script> 
    }
    
}