@(controller: de.htwg.battleship.controller.IMasterController, email: String)

@import _root_.de.htwg.battleship.util.State;

@main("Battleship", email) {

@****************************************** SCRIPTS ***********************************************@

    <script src="@routes.Assets.versioned("/javascripts/webSocket.js")"></script>

    <script language="JavaScript"> 
    
        function setCords(col, row) {
            
            row = String.fromCharCode("a".charCodeAt(0) + row);

            
    	    document.getElementById("horizontal").onclick = function() {
    	        $.post("/json/" + row + " " + col + " horizontal");
    	    }
    	    
    	    document.getElementById("vertical").onclick = function() {
    	        $.post("/json/" + row + " " + col + " vertical");
                 
    	    }
       	}
       	
       	function shoot(col, row) {
       	    row = String.fromCharCode("a".charCodeAt(0) + row);
       	    
            $.post("/json/" + row + " " + col, function (data) {
                    var msg = JSON.parse(data);
    	    });
       	}
      
    </script>
   
@********************************************* INFO ****************************************************@
   
    <div class="row">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4">
            <div class="alert alert-info alert-dismissable text-center">
                @{controller.getCurrentState() match {
                    case State.PLACE1 =>
                        controller.getPlayer1().getName() + " now place the ship with the length of " + (controller.getPlayer1().getOwnBoard().getShips() + 2);
                        
                    case State.PLACE2 =>
                        controller.getPlayer2().getName() + " now place the ship with the length of " + (controller.getPlayer2().getOwnBoard().getShips() + 2);
                    
                    case State.SHOOT1 =>
                        controller.getPlayer1().getName() + " is now at the turn to shoot";
                        
                    case State.SHOOT2 =>
                        controller.getPlayer2().getName() + " is now at the turn to shoot";
                        
                    case _ =>
                        "status: " + controller.getCurrentState();
                }
                }
            </div>
        </div>
        
    </div>
      
@******************************************** GAMEFIELD ************************************************@

    <div id="gamefield"></div>
    
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
            <div class="chat">
            <textarea class="form-control" id="chatView" rows="5"></textarea>
            <div class="input-group">
                <input id="chatInput" type="text" class="form-control input-sm" placeholder="Type your message here...">
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat" onClick="chat()">
                            Send</button>
                    </span>
            </div>
        </div>
        </div>
    </div>        
    
@*************************************** CHAT *********************************************@

    
}
