@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href='../assets/icon.jpg' type="image/x-icon" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
    <script src="@routes.Assets.versioned("polymer/bower_components/webcomponentsjs/webcomponents-lite.js")"></script>
   	<link rel="import" href="@routes.Assets.versioned("polymer/bower_components/polymer/polymer.html")">
   	<link rel="import" href="@routes.Assets.versioned("polymer/src/battleship-app/battleship-app.html")">
</head>
<body id="backgroundPicIndex">
    <div>
        <nav id="navBar" class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">Battleship</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a id="menuBar" href="/battleship">Start new Game</a></li>
              <li><a id="menuBar" href="/rules">Rules</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="content">
        @content
    </div>
</body>
</html>